#agent_response {
    margin: 1;
    padding: 1;
    overflow-y: auto;
}

#user_prompt {
    margin: 1;
    padding: 1;
    height: 1fr;
}

.command_pallet_hidden {
    display: none;
}

TextAreaGroup {
    height: 100%;
}

